.TableShower-as2da2sf45as{
    table{
        border-collapse: collapse;
        width: 100%;
        .order-num{
            text-align: center;
            vertical-align: middle;
        }
    }
    .scroll-tab{
        overflow: hidden;
        transition:  all .5s;
        table.ani{
        transition:  all .5s;
        }
        &::-webkit-scrollbar{
            display: none;
        }
    }
}