@import "@icedesign/theme/variables.scss";//默认主题，修改配色主题请修改源码路径
.list-position-cj {
  position: relative;
  > .item {
    position: absolute;
    transition: all 1.5s;
    top: 0px;
    left: 0px;
    width: 100%;
    &:nth-child(1){
      >.name{
        color: $color-brand1-9;
      }
      >.process{
        >span{
          background:  $color-brand1-9;
        }
      }
    }
    &:nth-child(2){
      >.name{
        color: $color-brand1-6;
      }
      >.process{
        >span{
          background:  $color-brand1-6;
        }
      }
    }
    &:nth-child(3){
      >.name{
        color: $color-brand1-1;
      }
      >.process{
        >span{
          background:  $color-brand1-1;
        }
      }

    }
    &:nth-child(1){
      >.name{
        color: $color-brand1-1;
      }
      >.process{
        >span{
          background:  $color-brand1-1;
        }
      }

    }
    >.value{
      float: right;
      margin-top: 10px;
    }
    > .process {
      transform-style: preserve-3d;
      animation: identifier-list-position infinite 5s linear;
      @keyframes identifier-list-position {
        from {
          transform: translateX(-20px) rotateY(-10deg) rotateX(0) ;
        }
        to {
          transform: translateX(-20px) rotateY(-10deg) rotateX(360deg);
        }
      }
      > span {
        display: inline-block;
        position: absolute;
        margin-top: 10px;

      }
    }
  }
}
