// 载入 normalize
@import '@alifd/next/reset.scss';

.next-nav.next-normal{
  background:$color-fill1-1;//适配主题色
  &.next-icon-only{//仅展示图标状态下
    width: 49px!important;
  }
}
.next-overlay-wrapper{//菜单图标状态子项样式
  .next-menu-item-inner{
    width: 100px;
    text-align: center;
    border: none;
  }
}
.next-nav.next-normal .next-nav-item.next-menu-item.next-selected{
  background-color: $color-fill1-1;
}
.next-nav.next-ver>.next-menu-sub-menu-wrapper>.next-menu-item{
  background:$color-fill1-1;
}
.next-nav.next-normal .next-nav-item.next-menu-item.next-opened{
  background:$color-fill1-1;
}
.next-nav.next-normal .next-nav-item.next-menu-item{
  background:$color-fill1-1;
}
.next-menu{
  border: none;
}
.next-nav.next-normal{
  box-shadow: none;
  .next-icon{
    top: 0!important;
  }
}
.next-menu-item.next-nav-item{
  border-bottom: solid 1px #e6e6e0;
}
ul.next-nav.next-ver {
  
  >li{
    >ul{
      &.next-menu-sub-menu{
        border-bottom: solid 1px #e6e6e0;
      }
    }
  }
 
  .next-menu-item{//外层菜单项边框
    padding: 0;
    border: solid 1px #e6e6e0;
    border-top: none;
  }
}

.next-nav.next-normal .next-menu-sub-menu .next-menu-item{
  border: none;
  padding-left: 70px!important;
}
.next-nav.next-normal .next-nav-item.next-menu-item:before{
  background-color: transparent;//去除选中边框色
}
li{//左边边框色
  &:nth-child(2){
    .next-menu-item.next-nav-item.next-opened{
      .iconMenu{
        background-color:#de6363 ;
        path{
          fill: white;//菜单图标划过填充色
        }
      }
    }
    &.next-selected{
      .iconMenu{
        background-color:#de6363 ;
      }
    }
    .next-menu-item-inner{
      &:hover{
        .iconMenu{
          background:#de6363 ;
          path{
            fill: white;//菜单图标划过填充色
          }
        }
      }
      .iconMenu{
        border-left-color:#de6363 ;
      }
    }
  }
  &:nth-child(3){
    .next-menu-item.next-nav-item.next-opened{//激活状态
      .iconMenu{
        background-color:#72c381 ;
        path{
          fill: white;//菜单图标划过填充色
        }
      }
    }
    &.next-selected{
      .iconMenu{
        background-color:#72c381 ;
      }
    }
    .next-menu-item-inner{
      &:hover{
        .iconMenu{
          background:#72c381 ;
          path{
            fill: white;//菜单图标划过填充色
          }
        }
      }
      .iconMenu{
        border-left-color:#72c381 ;
      }
    }
  }
  &:nth-child(4){
    
    .next-menu-item.next-nav-item.next-opened{
      .iconMenu{
        background-color:#8965ad ;
        path{
          fill: white;
        }
      }
      
    }
    &.next-selected{
      .iconMenu{
        background-color:#8965ad ;
      }
    }
    .next-menu-item-inner{
      &:hover{
        .iconMenu{
          background:#8965ad ;
          path{
            fill: white;//菜单图标划过填充色
          }
        }
      }
      .iconMenu{
        border-left-color:#8965ad;
      }
    }
  }
  &:nth-child(5){
    .next-menu-item.next-nav-item.next-opened{
      
      .iconMenu{
        background-color:#676fd2 ;
        path{
          fill: white;
        }
      }
    }
    &.next-selected{
      .iconMenu{
        background-color:#676fd2 ;
      }
    }
    .next-menu-item-inner{
      &:hover{
        .iconMenu{
          background:#676fd2 ;
          path{
            fill: white;//菜单图标划过填充色
          }
        }
      }
      .iconMenu{
        border-left-color:#676fd2 ;
      }
    }
  }
  &:nth-child(6){
    .next-menu-item.next-nav-item.next-opened{
      .iconMenu{
        background-color:#dfa563 ;
        path{
          fill: white;
        }
      }
    }
    &.next-selected{
      .iconMenu{
        background-color:#dfa563 ;
      }
    }
    .next-menu-item-inner{
      &:hover{
        .iconMenu{
          background:#dfa563 ;
          path{
            fill: white;//菜单图标划过填充色
          }
        }
      }
      .iconMenu{
        border-left-color:#dfa563 ;
      }
    }
  }
  &:nth-child(1){
    .next-menu-item.next-nav-item.next-opened{
      .iconMenu{
        background-color:#62a9dd ;
        path{
          fill: white;
        }
      }
    }
    &.next-selected{
      .iconMenu{
        background-color:#62a9dd ;
      }
    }
    .next-menu-item-inner{
      &:hover{
        .iconMenu{
          background:#62a9dd ;
          path{
            fill: white;//菜单图标划过填充色
          }
        }
      }
      .iconMenu{
        border-left-color:#62a9dd ;
      }
    }
  }
}
.next-nav-item.next-selected{
  >.next-menu-item-inner{
    .iconMenu{
      path{
        fill: white;//菜单图标激活填充色
      }
    }
  }
}

.next-menu-item-inner{//菜单全局图标样式
  line-height: 52px;
  .iconMenu{ 
    display: inline-block;
    width: 48px;
    height: 52px;
    border-right: solid 1px #e6e6e0;
    text-align: center;
    border-left: solid 3px transparent;
    >svg{
    vertical-align: middle;
    path{
      fill: #333;//菜单图标颜色
    }
    .iconMenuhome{
      d:path("M12.6,14H1.4V6L0.7,6.6L0,5.8L7.2,0l0.3,0.4L7.8,0L15,5.8l-0.7,0.7L13.6,6v8H12.6z M12.6,13
      V5.2h0L7.5,1L2.3,5.2h0.1V13h2V9.1h6.1V13L12.6,13z M9.5,13v-2.9H5.5V13L9.5,13z");
    }
    .iconMenuysj{
      d:path("M7.8,15.5L7.8,15.5c-0.7,0-1.3,0-1.9-0.1c0,0,0,0-0.1,0C5,15.3,4.1,15.2,3.3,15
      c-1.4-0.4-2.3-0.9-2.6-1.5c-0.1-0.1-0.2-0.2-0.2-0.4v-10c0,0,0,0,0,0c0,0,0,0,0-0.1c0-0.8,0.8-1.4,2.3-1.9c1.6-0.4,3.3-0.6,4.9-0.6
      h0.1c1.7,0,3.3,0.2,4.9,0.6C14.3,1.6,15,2.2,15,3c0,0,0,0,0,0.1c0,0,0,0,0,0v10c0,0.1-0.1,0.3-0.2,0.4c-0.3,0.6-1.2,1.1-2.6,1.5
      c-0.8,0.2-1.7,0.3-2.5,0.4c0,0,0,0-0.1,0C9.1,15.5,8.4,15.5,7.8,15.5L7.8,15.5z M7.8,14.6L7.8,14.6c0.6,0,1.2,0,1.6-0.1l0.1,0h0h0
      c2.9-0.2,4.4-1,4.4-1.5c0-0.1,0-0.2,0.1-0.3v-1.8c-2,0.9-4.1,1.3-6.3,1.2H7.7c-2.2,0.1-4.3-0.3-6.3-1.2v1.8c0.1,0.1,0.1,0.2,0.1,0.3
      c0,0.4,1.5,1.2,4.4,1.5h0h0l0.1,0C6.6,14.5,7.1,14.6,7.8,14.6L7.8,14.6L7.8,14.6z M1.5,9.4c0.1,0.1,0.1,0.2,0.1,0.3
      c0,0.5,2.2,1.6,6.2,1.6s6.2-1,6.2-1.6c0-0.1,0-0.2,0.1-0.3V7.9C14,7.9,14,7.8,14,7.7v0c-1.8,0.8-3.8,1.2-5.8,1.2c0,0,0,0-0.1,0H7.4
      c0,0,0,0,0,0c-2,0.1-4-0.3-5.8-1.2v0c0,0.1,0,0.2-0.1,0.3L1.5,9.4z M7.8,7.9c3.8,0,6-0.9,6.2-1.5V4.3c-2,0.8-4.1,1.2-6.2,1.1H7.7
      C5.6,5.5,3.5,5.2,1.6,4.3v2.1C1.8,6.9,3.9,7.9,7.8,7.9z M7.8,4.5c3.8,0,6-0.9,6.2-1.5V2.9c0,0,0,0,0-0.1c-0.2-0.5-2.4-1.4-6.2-1.5
      s-6,0.9-6.2,1.5c0,0,0,0,0,0.1v0.1C1.8,3.6,4,4.5,7.8,4.5z");
    }
    .iconMenusjbz{
      d:path("M1,14c-0.6,0-1-0.4-1-1V1c0-0.6,0.4-1,1-1h11c0.6,0,1,0.4,1,1v12c0,0.6-0.4,1-1,1H1z M1,13h11
      V1H1V13z M9,11.5v-5C9,6.2,9.2,6,9.5,6S10,6.2,10,6.5v5c0,0.3-0.2,0.5-0.5,0.5S9,11.8,9,11.5z M7,11.5v-3C7,8.2,7.2,8,7.5,8
      S8,8.2,8,8.5v3C8,11.8,7.8,12,7.5,12S7,11.8,7,11.5z M5,11.5v-5C5,6.2,5.2,6,5.5,6S6,6.2,6,6.5v5C6,11.8,5.8,12,5.5,12
      S5,11.8,5,11.5z M3,11.5v-3C3,8.2,3.2,8,3.5,8S4,8.2,4,8.5v3C4,11.8,3.8,12,3.5,12S3,11.8,3,11.5z M2.4,6.2C2.2,6,2.2,5.7,2.4,5.5
      l0,0l1.8-1.8c0-0.1,0-0.1,0-0.2c0.1-0.2,0.4-0.4,0.7-0.2c0.1,0,0.2,0.1,0.3,0.1l2.2,1l2-2c0.2-0.2,0.5-0.2,0.7,0
      c0.2,0.2,0.2,0.5,0,0.7L8.1,5.2C8,5.3,7.8,5.3,7.7,5.3C7.5,5.4,7.3,5.5,7.2,5.4L4.9,4.3L3.1,6.2C2.9,6.4,2.6,6.4,2.4,6.2L2.4,6.2
      L2.4,6.2z")
    }
    .iconMenuzyml{
      d:path("M1,15c-0.6,0-1-0.4-1-1V1c0-0.6,0.4-1,1-1h9c2.2,0,4,1.8,4,4v10c0,0.6-0.4,1-1,1H1z M1,14h12V4
      c0-1.7-1.3-3-3-3H1V14z M6.5,11C6.2,11,6,10.8,6,10.5S6.2,10,6.5,10h4c0.3,0,0.5,0.2,0.5,0.5S10.8,11,10.5,11H6.5z M3.5,11
      C3.2,11,3,10.8,3,10.5S3.2,10,3.5,10h1C4.8,10,5,10.2,5,10.5S4.8,11,4.5,11H3.5z M6.5,8C6.2,8,6,7.8,6,7.5S6.2,7,6.5,7h4
      C10.8,7,11,7.2,11,7.5S10.8,8,10.5,8H6.5z M3.5,8C3.2,8,3,7.8,3,7.5S3.2,7,3.5,7h1C4.8,7,5,7.2,5,7.5S4.8,8,4.5,8H3.5z M6.5,5
      C6.2,5,6,4.8,6,4.5S6.2,4,6.5,4h4C10.8,4,11,4.2,11,4.5S10.8,5,10.5,5H6.5z M3.5,5C3.2,5,3,4.8,3,4.5S3.2,4,3.5,4h1
      C4.8,4,5,4.2,5,4.5S4.8,5,4.5,5H3.5z");
    }
    .iconMenubqgl{
      d:path("M6.8,11.8L0.9,15c-0.6,0-1-0.5-0.9-1.1V1.1C0,0.5,0.4,0,0.9,0h12.1c0.6,0,1,0.5,0.9,1.1v12.9
      c0,0.6-0.4,1-0.9,1.1L6.8,11.8z M13,13.9V1.1H1v12.9l5.8-3.1L13,13.9z M3.5,4.5v-1h7v1H3.5z");
    }
    .iconMenujcpz{
      d:path("M1,14c-0.6,0-1-0.4-1-1V1c0-0.6,0.4-1,1-1h13c0.6,0,1,0.4,1,1v12c0,0.6-0.4,1-1,1H1z M1,13h13
      V1H1V13z M9.6,10.5H4c-0.3,0-0.5-0.2-0.5-0.5V6.4C2.7,6.1,2.3,5.3,2.6,4.5s1.1-1.2,1.9-0.9c0.8,0.3,1.2,1.1,0.9,1.9
      C5.3,5.9,4.9,6.3,4.5,6.4v3.1h5.1c0.3-0.8,1.1-1.2,1.9-0.9s1.2,1.1,0.9,1.9c-0.3,0.8-1.1,1.2-1.9,0.9C10.1,11.3,9.7,10.9,9.6,10.5
      L9.6,10.5z M10.5,10c0,0.3,0.2,0.5,0.5,0.5s0.5-0.2,0.5-0.5S11.3,9.5,11,9.5C10.7,9.5,10.5,9.7,10.5,10L10.5,10z M3.5,5
      c0,0.3,0.2,0.5,0.5,0.5S4.5,5.3,4.5,5S4.3,4.5,4,4.5C3.7,4.5,3.5,4.7,3.5,5L3.5,5z M7,7.5C6.7,7.5,6.5,7.3,6.5,7V4
      c0-0.3,0.2-0.5,0.5-0.5h5c0.3,0,0.5,0.2,0.5,0.5v3c0,0.3-0.2,0.5-0.5,0.5H7z M7.5,6.5h4v-2h-4V6.5z");
    }

    }
  }
 
}

